.globe {
    display: flex;
    flex-wrap: wrap; 
}
.globe {
    background-color: #070a29;
    background: linear-gradient( #070a29, #070a29, #070a29);
  }
.text {
    color: #6330fe;
}

.left {
    width: 49vw;
    height: 750px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 750px;
}
@media only screen and (max-width: 900px) {
    .left {
        width: 100vw;
        height: 500px;
    }
    .right {
        margin-top: 0px;
        width: 100vw !important;
        height: 700px;
    }
    .right .head {
        width: 100vw !important;
    }
    .left button{
        margin-top:  10px !important;
     }
}
@media only screen and (max-width: 1700px) {
    .left {
       padding-top:  100px !important;
    }
}
@media only screen and (max-width: 450px) {
    .right {
        margin-top: 100px;
    }
}