section.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;

    & .content {
        font-family: 'MuseoModerno', system-ui;

        & .name {
            font-size: 6em;
            font-weight: bold;
            line-height: 1em;

            & span {
                background-image: linear-gradient(to right, #3800fb, #7f1ab6c2, #3800fb, #7F40AC, #3800fb);
                background-size: 200% auto;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                animation: shine 5s linear infinite;
            }
        }

        & .des {
            color: #eee5;
            margin: 30px 0;
            border-left: .7em solid #3800fb;
            padding-left: 2em;
        }

        & a {
            display: block;
            font-size: large;
            color: #eee;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid #eee;
            background-color: transparent;
            width: max-content;
            padding: 20px 30px;
            border-radius: 40px;
        }
    }

    & .avatar {
        text-align: right;

        & .card {
            display: inline-flex;
            flex-direction: column;
            width: min(100%, 400px);
            box-shadow: 0 150px 150px #e945e333;
            transition: 0.5s;

            &:hover {
                box-shadow: 0 150px 150px #e945e355;
            }

            & img {
                width: 100%;
                height: min(50vh, 700px);
                object-fit: cover;
                object-position: top;
                clip-path: polygon(81% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
            }

            & .info {
                background-color: #eee;
                color: #010824;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                gap: 20px;
                padding: 20px;
                font-size: 1.2em;

                & div:nth-child(1),
                div:nth-child(2),
                div:nth-child(3) {
                    font-weight: bold;
                }
            }
        }
    }
}