.text-anim {
    background-image: linear-gradient(to right, #3800fb, #7f1ab6c2, #3800fb, #7F40AC, #3800fb);
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 5s linear infinite;
}
