/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&display=swap');

/* import css  */

@import url('./css/home.css');
@import url('./css/projects.css');
@import url('./css/about.css');
@import url('./css/navbar.css');
@import url('./css/contacts.css');
@import url('./css/responsive.css');
@import url('./css/animations.css');
@import url('./css/header.css');


/* general styles */

body {
    margin: 0;
    font-family: Poppins;
    background-color: #010824;
    color: #eee;
    font-size: 15px;
    min-height: 100vh;
    background-image: linear-gradient(to right, transparent 0 49px, #eee1 49px),
        linear-gradient(to bottom, transparent 0 49px, #eee1 49px);
    background-size: 50px 50px;

    &::before {
        position: fixed;
        width: 400px;
        height: 200px;
        content: '';
        background-image: linear-gradient(to right, #23d037, #160795);
        z-index: -1;
        top: -200px;
        left: calc(50% - 200px);
        border-radius: 50% 50% 0% 0%;
        pointer-events: none;
        filter: blur(250px);
    }
}

main {
    width: 1300px;
    max-width: 100%;
    margin: auto;
}


section {
    width: 1300px;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
    top: 0;
}


/* animation */
.animation {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}

.animation.active {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}




.cursor-blob {
    animation: blob 10s infinite;
    background: radial-gradient(circle closest-side, transparent, transparent, #6330fe);
    width: 100px;
    height: 100px;
    position: absolute;
    mix-Blend-Mode: 'multiply';
    cursor: pointer !important;
    pointer-Events: 'none';
    transform: 'translate(-50%, -50%)';
    z-Index: 9999;
    cursor: pointer;
}