@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&display=swap');
@import url('./css/home.css');
@import url('./css/projects.css');
@import url('./css/about.css');
@import url('./css/navbar.css');
@import url('./css/contacts.css');
@import url('./css/responsive.css');

body{
    margin: 0;
    font-family: Poppins;
    background-color: #010824;
    color: #eee;
    font-size: 15px;
    min-height: 100vh;
    background-image: linear-gradient(
        to right, transparent 0 49px, #eee1 49px
    ),
    linear-gradient(
        to bottom, transparent 0 49px, #eee1 49px
    );
    background-size: 50px 50px;
    &::before{
        position: fixed;
        width: 400px;
        height: 200px;
        content: '';
        background-image: linear-gradient(
            to right, #23d037, #160795
        );
        z-index: -1;
        top: -200px;
        left: calc(50% - 200px);
        border-radius: 50% 50% 0% 0%;
        pointer-events: none;
        filter: blur(250px);
    }
}
main{
    width: 1300px;
    max-width: 100%;
    margin: auto;
}

/* navbar */
header{
    position: fixed;
    width: 1300px;
    max-width: 100%;
    height: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
    backdrop-filter: blur(10px);
    & img{
        width: 50px;
    }
    & .logo, nav{
        display: flex;
        align-items: center;
        gap: 30px;
        & span{
            cursor: pointer;
        }
        & .active{
            color: #e945e3;
            text-shadow: 0 0 5px #7A43B6;
        }
    }
    & .icon-bar{
        width: 30px;
        display: none;
    }
}
/* home */
section{
    width: 1300px;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
    top: 0;
}


/* animation */
.animation{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
.animation.active{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


@keyframes shine {
    to {
        background-position: 200% center;
    }
}


@keyframes blob {
    0%, 100% {
      border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    }
    5% {
      border-radius: 30% 70% 70% 30% / 70% 70% 30% 30%;
    }
    10% {
      border-radius: 35% 65% 65% 35% / 65% 65% 35% 35%;
    }
    15% {
      border-radius: 40% 60% 60% 40% / 60% 60% 40% 40%;
    }
    20% {
      border-radius: 45% 55% 55% 45% / 55% 55% 45% 45%;
    }
    25% {
      border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    30% {
      border-radius: 55% 45% 45% 55% / 45% 45% 55% 55%;
    }
    35% {
      border-radius: 60% 40% 40% 60% / 40% 40% 60% 60%;
    }
    40% {
      border-radius: 65% 35% 35% 65% / 35% 35% 65% 65%;
    }
    45% {
      border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
    }
    50% {
      border-radius: 75% 25% 25% 75% / 25% 25% 75% 75%;
    }
    55% {
      border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
    }
    60% {
      border-radius: 65% 35% 35% 65% / 35% 35% 65% 65%;
    }
    65% {
      border-radius: 60% 40% 40% 60% / 40% 40% 60% 60%;
    }
    70% {
      border-radius: 55% 45% 45% 55% / 45% 45% 55% 55%;
    }
    75% {
      border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    80% {
      border-radius: 45% 55% 55% 45% / 55% 55% 45% 45%;
    }
    85% {
      border-radius: 40% 60% 60% 40% / 60% 60% 40% 40%;
    }
    90% {
      border-radius: 35% 65% 65% 35% / 65% 65% 35% 35%;
    }
    95% {
      border-radius: 30% 70% 70% 30% / 70% 70% 30% 30%;
    }
  }
  
  .cursor-blob {
    animation: blob 10s infinite;
    background: radial-gradient(circle closest-side, transparent, transparent, #6330fe );
    width: 100px;
    height: 100px;
    position: absolute;
    mix-Blend-Mode: 'multiply';
    cursor: pointer !important;
    /* pointer-Events: 'none'; */
    transform: 'translate(-50%, -50%)';
    z-Index: 9999;
    cursor: pointer;
  }
  